attrs==22.2.0
iniconfig==2.0.0
numpy==1.24.2
packaging==23.0
pluggy==0.13.1
py==1.11.0
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.0
pyqtgraph==0.13.2
pyserial==3.5
pytest==6.1.2
QDarkStyle==3.1
QtPy==1.11.3
toml==0.10.2
